<h1> Spacetraders login</h1>
{% if error %} {{error}}<Br /> {{error_detail}}<br /> {% endif %}
<form action="/login" method="POST">
    <div><label for="agent_name">Agent Name</label>
        <input type="text" name="agent_name" id="agent_name" placeholder="Agent Name" value="{{agent_name}}" />
    </div>
    <div>
        <label for="faction_symbol">Desired faction</label>
        <select>
            {% for faction in factions %}
            <option value="{{faction.symbol}}">{{faction.name}}</option>
            {% endfor %}
        </select>
        <hr />
        or:
        <div>
            <label for="agent_token">Agent Token</label>
            <textarea name="agent_token" id="agent_token" placeholder="Agent Token">{{token}}</textarea>

        </div>
        <input type="submit" value="Register/Login" />


</form>