<!doctype html>
<html lang="en">

{% include '_header.html' %}
{% include 'top_menu.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-2">
            <h1>All trades <a onclick="socket.emit('fetch-trades');return false;">🔃</a></h1>
            select ship:
            <select id="list_of_ship_symbols" onchange="fetch_ship();">
                {% for ship in ships %}
                <option value="{{ship.symbol}}">{{ship.symbol}}</option>
                {% endfor %}
            </select><br />
            Current credits: <span id="agent_output_credits">{{agent.credits}}</span>
        </div>
        <div class=" col-lg-2 col-md-2 col-sm-6  ">
            <div id="selected_ship"></div>

            <div id="selected_ship_controls">
                <input type="button" value="execute best for ship" id="ship_autopilot_control"
                    onclick="execute_best(); return false;" /><br />
                Autopilot? <input type="checkbox" id="auto_execute" value="auto_execute"
                    onclick="toggle_autopilot(); return false;" />
            </div>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 logs_output" id="logs_output">

        </div>
    </div>
</div>
<div id="trades_output" style="border:1px solid red;">
    {% for system in trades %}
    <h2>{{system}}</h2>
    <div class="container-fluid" id="trades_{{system}}">
        <div class="row">
            <div class="col-lg-2 col-sm-6">
                FUEL

            </div>
            <div class="col-lg-2 col-sm-6">
                X1-TEST-A1
            </div>
            <div class="col-lg-2 col-sm-6">
                X1-TEST-A2
            </div>
            <div class="col-lg-2 col-sm-6">
                100u
            </div>
            <div class="col-lg-2 col-sm-6">
                Supply 0 (TV)
            </div>
            <div class="col-lg-2 col-sm-6">
                0.0/h
            </div>
            <div class="col-lg-2 col-sm-6">
                555 (5.55)
            </div>
        </div>
    </div>
    {% endfor %}

</div>
<script>
    function execute_trade(trade_symbol, start_location, end_location, quantity) {
        socket.emit('execute-trade', {
            'ship_name': document.getElementById('list_of_ship_symbols').value,
            'trade_symbol': trade_symbol,
            'start_location': start_location,
            'end_location': end_location,
            'quantity': quantity
        })
    }

    function fetch_ship() {
        new_ship = document.getElementById('list_of_ship_symbols').value;
        socket.emit('fetch-ship-box', new_ship);
        socket.emit("fetch-ship-autopilotstate", new_ship);
    }



    socket.emit('get-trades');
    socket.emit("fetch-ship-autopilotstate", document.getElementById('list_of_ship_symbols').value);
    fetch_ship();

    function execute_best() {
        socket.emit('execute-best-trade', document.getElementById('list_of_ship_symbols').value);
    }

    function toggle_autopilot() {
        socket.emit('toggle-autopilot', document.getElementById('list_of_ship_symbols').value);
    }

    socket.on("autopilot-update", function (data) {
        div = document.getElementById('selected_ship_controls');
        if (!div) { console.log("received autopilot-update but no selected_ship_controls found"); return }
        if (data.is_locked) {
            document.getElementById('auto_execute').checked = true;
        } else {
            document.getElementById('auto_execute').checked = false;
        }
    });

    socket.on("trades-update", function (data) {
        console.log("trades-update: received [" + data.length + "] trades");
        div = document.getElementById('trades_output');
        if (!div) { console.log("received trades-update but no trades_output found"); return }
        for (system in data) {
            prefix = "trades_" + system;
            table = document.getElementById(prefix);


            table.innerHTML = '';

            var newRow = document.createElement("div");
            // set class = "row"
            newRow.className = "row trade_row";
            table.appendChild(newRow);

            var newCell = document.createElement("div");
            newCell.className = "col-lg-2 col-sm-6";
            newCell.textContent = "Symbol";
            newRow.appendChild(newCell);

            newCell = document.createElement("div");
            newCell.className = "col-lg-4 col-sm-12";
            newCell.textContent = "Start -> end (dist ance)";
            newRow.appendChild(newCell);


            newCell = document.createElement("div");
            newCell.className = "col-lg-2 col-sm-6";
            newCell.textContent = "Quantity (tv), activity/hour";
            newRow.appendChild(newCell);




            newCell = document.createElement("div");
            newCell.className = "col-lg-2 col-sm-6";
            newCell.textContent = "profit (unit), (unit/distance)";
            newRow.appendChild(newCell);

            newCell = document.createElement("div");
            newCell.className = "col-lg-2 col-sm-6";
            newCell.textContent = "Execute";
            newRow.appendChild(newCell);

            for (var key in data[system]) {
                op = data[system][key];
                var newRow = document.createElement("div");
                // set class = "row"
                newRow.className = "row trade_row";
                table.appendChild(newRow);

                newCell = document.createElement("div");
                newCell.className = "col-lg-2 col-sm-6";
                text_content = "<a href = '/trade/" + system + "/" + op.trade_symbol + "'>"
                text_content += "<img src='/static/icons/GOOD_" + op.trade_symbol + ".png'/>" + op.trade_symbol;
                text_content += "</a>";
                newCell.innerHTML = text_content;
                newRow.appendChild(newCell);

                newCell = document.createElement("div");
                newCell.className = "col-lg-4 col-sm-12";
                // if missing start, then add in a ❓ before the start location
                missing_start_t = op.scanned_start ? "" : "❓"
                missing_end_t = op.scanned_end ? "" : "❓"

                text_content = "<a href = 'waypoints/" + missing_start_t + op.start_location + "'>" + missing_start_t + op.start_location + "</a>"
                    + " -> "
                    + "<a href = 'waypoints/" + op.end_location + "'>" + missing_end_t + op.end_location + "</a>"
                    + " (" + op.distance + ")";
                newCell.innerHTML = text_content;
                newRow.appendChild(newCell);


                newCell = document.createElement("div");
                newCell.className = "col-lg-2 col-sm-6";
                text_content = "<img src='/static/icons/" + op.supply + ".png' />" + op.total_quantity + " (" + op.export_tv + "), ";
                text_content += "<img src='/static/icons/" + op.activity + ".png' />+" + op.goods_produced_per_hour + "/h";
                newCell.innerHTML = text_content;
                newRow.appendChild(newCell);


                newCell = document.createElement("div");
                newCell.className = "col-lg-2 col-sm-6";
                profit_per_distance = "" + op.profit_per_unit + "cr/u, (" + op.profit_per_unit_per_distance + ")";
                newCell.innerHTML = profit_per_distance;
                newRow.appendChild(newCell);

                newCell = document.createElement("div");
                newCell.className = "col-lg-2 col-sm-6";
                emit_instruction = 'execute_trade(\"' + op.trade_symbol + '\", \"' + op.start_location + '\", \"' + op.end_location + '\", \"' + op.total_quantity + '\")';
                inner_html = "<input type = 'button' value = 'execute' onclick='" + emit_instruction + "'/> ";
                newCell.innerHTML = inner_html;
                newRow.appendChild(newCell);


            }

        }
    });
</script>